<tr>
  <td><h3><%= "Test #{test.title} (questions: #{test.questions.count})" %></h3></td>
  <td><%= link_to t('.show'), admin_test_path(test) %></td>
  <td><%= link_to t('.edit'), edit_admin_test_path(test) %> </td>
  <td><%= link_to t('.delete'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.delete_confirmation') } %></td>
</tr>
