<footer>
  <p><%= current_year %> | Wolhaa | <%= github_url('Wolhaa', 'test_guru') %></p>
  <p>Project test_guru | <%= link_to t('.feedback'), new_feedback_path %></p>
  <p><%= link_to 'Educational project in the online school Thinknetica', 'http://thinknetica.com/' %></p>
</footer>
